<div class="move-card disadvantage-card">
    <div class="disadvantage-info item-name" data-item-id="{{_id}}">
        <a class="move-roll" title="{{localize "kult4e.RollMove"}}"> <img src="{{img}}" data-edit="img" title="{{name}}"/> {{name}} </a>
        <a class="item-control item-show" title="{{localize "kult4e.ShowItem"}}"><i class="far fa-comment-alt"></i></a>
        <a class="item-control item-delete" title="{{localize "kult4e.DeleteItem"}}"><i class="fas fa-trash"></i></a>
        <a class="item-control item-edit" title="{{localize "kult4e.EditItem"}}"><i class="fas fa-edit"></i></a>
        {{#if data.hasTokens}}
          {{#if (gte data.tokens 0)}}
          <span class="advantage-column">{{localize "kult4e.Hold"}}: <a class="token-add" title="{{localize "kult4e.AddHold"}}"><i class="far fa-plus-square"></i></a> {{data.tokens}}
            {{#if (gte data.tokens 1)}}
            <a class="token-spend" title="{{localize "kult4e.SpendHold"}}"><i class="far fa-minus-square"></i></a>
            {{/if}}
          </span>
          {{/if}}
        {{/if}}
    </div>
</div>
