
<div class="move-card">
  <div class="move-info item-name" data-item-id="{{_id}}">
    <a class="move-roll" title="{{localize "kult4e.RollMove"}}"> <img src="{{img}}" data-edit="img" title="{{name}}"/> {{name}} </a>
    <a class="item-control item-show" title="{{localize "kult4e.ShowItem"}}"><i class="far fa-comment-alt"></i></a>
    <a class="item-control item-delete" title="{{localize "kult4e.DeleteItem"}}"><i class="fas fa-trash"></i></a>
    <a class="item-control item-edit" title="{{localize "kult4e.EditItem"}}"><i class="fas fa-edit"></i></a>
  </div>
</div>
