<form class="{{cssClass}} kult-sheet" autocomplete="off">
  <header class="sheet-header">
    <script src="systems/kult4e/scripts/delete.js"></script>
    <script src="systems/kult4e/scripts/getAttribute.js"></script>
    <img src="/systems/kult4e/assets/kultlogo.png" height="64" width="167">
    <h1 class="character-name"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
  </header>
  <div class="flex-container">
    <div class="flex-column modifier-section">
      <img class="actor-picture" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="167" width="167" />
      <div>
        <div class="spec">
          <label>{{localize "kult4e.Age"}}</label>
          <p1 class="character-detail">
            <input name="data.attributes.age" type="text" value="{{data.attributes.age}}" placeholder="{{localize "kult4e.Age"}}">
          </p1>
        </div>
        <div class="spec">
          <label>{{localize "kult4e.Gender"}}</label>
          <p1 class="character-detail">
            <input name="data.attributes.gender" type="text" value="{{data.attributes.gender}}" placeholder="{{localize "kult4e.Gender"}}">
          </p1>
        </div>
        <div class="spec">
          <label>{{localize "kult4e.Ethnicity"}}</label>
          <p1 class="character-detail">
            <input name="data.attributes.ethnicity" type="text" value="{{data.attributes.ethnicity}}" placeholder="{{localize "kult4e.Ethnicity"}}">
          </p1>
        </div>
      </div>
      <div>
        <div class="spec">
          <label>{{localize "kult4e.Weight"}}</label>
          <p1 class="character-detail">
            <input name="data.attributes.weight" type="text" value="{{data.attributes.weight}}" placeholder="{{localize "kult4e.Weight"}}">
          </p1>
        </div>
        <div class="spec">
          <label>{{localize "kult4e.Height"}}</label>
          <p1 class="character-detail">
            <input name="data.attributes.cm" type="text" value="{{data.attributes.cm}}" placeholder="{{localize "kult4e.Height"}}">
          </p1>
        </div>
      </div>
      <div>
        <div class="spec">
          <label>{{localize "kult4e.Eyes"}}</label>
          <p1 class="character-detail">
            <input name="data.attributes.eye" type="text" value="{{data.attributes.eye}}" placeholder="{{localize "kult4e.Eyes"}}">
          </p1>
        </div>
        <div class="spec">
          <label>{{localize "kult4e.Hair"}}</label>
          <p1 class="character-detail">
            <input name="data.attributes.hair" type="text" value="{{data.attributes.hair}}" placeholder="{{localize "kult4e.Hair"}}">
          </p1>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-container top-section">
    <div class="flex-column modifier-section">
      <div>
        {{localize "kult4e.Forward"}}:
        <select name="data.forward" value="{{data.forward}}">
        {{#select data.forward}}
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1</option>
          <option value="0">0</option>
          <option value="-1">-1</option>
          <option value="-2">-2</option>
          <option value="-3">-3</option>
          <option value="-4">-4</option>
          <option value="-5">-5</option>
        {{/select}}
        </select>
      </div>
      <div class="situational-modifier">
        {{localize "kult4e.SitMod"}}:
        <select name="data.sitmod" value="{{data.sitmod}}">
        {{#select data.sitmod}}
          <option value="3">3</option>
          <option value="2">2</option>
          <option value="1">1</option>
          <option value="0">0</option>
          <option value="-1">-1</option>
          <option value="-2">-2</option>
          <option value="-3">-3</option>
          <option value="-4">-4</option>
          <option value="-5">-5</option>
        {{/select}}
        </select>
      </div>
    </div>
  </div>
  <div class="navigation-section">
    <a class="tabButton" data-tab="Stats">{{localize "kult4e.Stats"}}</a>
    <a class="tabButton" data-tab="Background">{{localize "kult4e.Background"}}</a>
  </div>
  <div id="Stats" class="stats-section {{actor._id}}-tab">
    <div class="middle-section">
      <div class="attribute-column">
        <table class="attribute-box" style="table-layout: fixed; width: 200px; height:500px;">
          <tr style="background-color: black;">
            <td></td>
            <td class="willpic">
              <select class="foo" name="data.attributes.willpower" value="{{data.attributes.willpower}}">
              {{#select data.attributes.willpower}}
                <option value="3">&nbsp;3&nbsp;</option>
                <option value="2">&nbsp;2&nbsp;</option>
                <option value="1">&nbsp;1&nbsp;</option>
                <option value="0">&nbsp;0&nbsp;</option>
                <option value="-1">-1&nbsp;</option>
                <option value="-2">-2&nbsp;</option>
                <option value="-3">-3&nbsp;</option>
              {{/select}}
              </select>
            </td>
            <td></td>
          </tr>
          <tr style="background-color: black;">
            <td class="fortpic">
              <select class="foo" name="data.attributes.fortitude" value="{{data.attributes.fortitude}}">
                {{#select data.attributes.fortitude}}
                  <option value="3">&nbsp;3&nbsp;</option>
                  <option value="2">&nbsp;2&nbsp;</option>
                  <option value="1">&nbsp;1&nbsp;</option>
                  <option value="0">&nbsp;0&nbsp;</option>
                  <option value="-1">-1&nbsp;</option>
                  <option value="-2">-2&nbsp;</option>
                  <option value="-3">-3&nbsp;</option>
                {{/select}}
              </select>
            </td>
            <td>{{localize "kult4e.Willpower"}}</td>
            <td class="refpic">
              <select class="foo" name="data.attributes.reflexes" value="{{data.attributes.reflexes}}">
              {{#select data.attributes.reflexes}}
                <option value="3">&nbsp;3&nbsp;</option>
                <option value="2">&nbsp;2&nbsp;</option>
                <option value="1">&nbsp;1&nbsp;</option>
                <option value="0">&nbsp;0&nbsp;</option>
                <option value="-1">-1&nbsp;</option>
                <option value="-2">-2&nbsp;</option>
                <option value="-3">-3&nbsp;</option>
              {{/select}}
              </select>
            </td>
          </tr>
          <tr>
            <td>{{localize "kult4e.Fortitude"}}</td>
            <td></td>
            <td>{{localize "kult4e.Reflexes"}}</td>
          </tr>
          <tr>
            <td class="reasonpic">
              <select class="foo" name="data.attributes.reason" value="{{data.attributes.reason}}">
              {{#select data.attributes.reason}}
                <option value="3">&nbsp;3&nbsp;</option>
                <option value="2">&nbsp;2&nbsp;</option>
                <option value="1">&nbsp;1&nbsp;</option>
                <option value="0">&nbsp;0&nbsp;</option>
                <option value="-1">-1&nbsp;</option>
                <option value="-2">-2&nbsp;</option>
                <option value="-3">-3&nbsp;</option>
              {{/select}}
              </select>
            </td>
            <td class="attmid"></td>
            <td class="intupic">
              <select class="foo" name="data.attributes.intuition" value="{{data.attributes.intuition}}">
              {{#select data.attributes.intuition}}
                <option value="3">&nbsp;3&nbsp;</option>
                <option value="2">&nbsp;2&nbsp;</option>
                <option value="1">&nbsp;1&nbsp;</option>
                <option value="0">&nbsp;0&nbsp;</option>
                <option value="-1">-1&nbsp;</option>
                <option value="-2">-2&nbsp;</option>
                <option value="-3">-3&nbsp;</option>
              {{/select}}
              </select>
            </td>
          </tr>
          <tr>
            <td>{{localize "kult4e.Reason"}}</td>
            <td class="percpic">
              <select class="foo" name="data.attributes.perception" value="{{data.attributes.perception}}">
              {{#select data.attributes.perception}}
                <option value="3">&nbsp;3&nbsp;</option>
                <option value="2">&nbsp;2&nbsp;</option>
                <option value="1">&nbsp;1&nbsp;</option>
                <option value="0">&nbsp;0&nbsp;</option>
                <option value="-1">-1&nbsp;</option>
                <option value="-2">-2&nbsp;</option>
                <option value="-3">-3&nbsp;</option>
              {{/select}}
              </select>
            </td>
            <td>{{localize "kult4e.Intuition"}}</td>
          </tr>
          <tr style="background-color: black;">
            <td class="coolpic">
              <select class="foo" name="data.attributes.coolness" value="{{data.attributes.coolness}}">
              {{#select data.attributes.coolness}}
                <option value="3">&nbsp;3&nbsp;</option>
                <option value="2">&nbsp;2&nbsp;</option>
                <option value="1">&nbsp;1&nbsp;</option>
                <option value="0">&nbsp;0&nbsp;</option>
                <option value="-1">-1&nbsp;</option>
                <option value="-2">-2&nbsp;</option>
                <option value="-3">-3&nbsp;</option>
              {{/select}}
              </select>
            </td>
            <td>{{localize "kult4e.Perception"}}</td>
            <td class="violpic">
              <select class="foo" name="data.attributes.violence" value="{{data.attributes.violence}}">
              {{#select data.attributes.violence}}
                <option value="3">&nbsp;3&nbsp;</option>
                <option value="2">&nbsp;2&nbsp;</option>
                <option value="1">&nbsp;1&nbsp;</option>
                <option value="0">&nbsp;0&nbsp;</option>
                <option value="-1">-1&nbsp;</option>
                <option value="-2">-2&nbsp;</option>
                <option value="-3">-3&nbsp;</option>
              {{/select}}
              </select>
            </td>
          </tr>
          <tr>
            <td>{{localize "kult4e.Coolness"}}</td>
            <td class="chapic">
              <select class="foo" name="data.attributes.charisma" value="{{data.attributes.charisma}}">
              {{#select data.attributes.charisma}}
                <option value="3">&nbsp;3&nbsp;</option>
                <option value="2">&nbsp;2&nbsp;</option>
                <option value="1">&nbsp;1&nbsp;</option>
                <option value="0">&nbsp;0&nbsp;</option>
                <option value="-1">-1&nbsp;</option>
                <option value="-2">-2&nbsp;</option>
                <option value="-3">-3&nbsp;</option>
              {{/select}}
              </select>
            </td>
            <td>{{localize "kult4e.Violence"}}</td>
          </tr>
          <tr style="background-color: black;">
            <td></td>
            <td>{{localize "kult4e.Charisma"}}</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td class="soulpic">
              <select class="foo" name="data.attributes.soul" value="{{data.attributes.soul}}">
              {{#select data.attributes.soul}}
                <option value="3">&nbsp;3&nbsp;</option>
                <option value="2">&nbsp;2&nbsp;</option>
                <option value="1">&nbsp;1&nbsp;</option>
                <option value="0">&nbsp;0&nbsp;</option>
                <option value="-1">-1&nbsp;</option>
                <option value="-2">-2&nbsp;</option>
                <option value="-3">-3&nbsp;</option>
              {{/select}}
              </select>
            </td>
            <td></td>
          </tr>
          <tr style="background-color: black;">
            <td></td>
            <td style="background-color: black;">{{localize "kult4e.Soul"}}</td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="advantage-box">
        <div class="section-label">{{localize "kult4e.DarkSecrets"}}</div>
        <div class=" item-list darksecret-list">
          {{#each darksecrets as |darksecret id|}}
          {{> "systems/kult4e/templates/partials/darksecret-card.hbs" darksecret}}
          {{/each}}
        </div>
        <div class="section-label">{{localize "kult4e.Advantages"}}</div>
        <div class="item-list advantage-list">
          {{#each advantages as |advantage id|}}
          {{> "systems/kult4e/templates/partials/advantage-card.hbs" advantage}}
          {{/each}}
        </div>
        <div class="section-label">{{localize "kult4e.Disadvantages"}}</div>
        <div class="item-list disadvantage-list">
          {{#each disadvantages as |disadvantage id|}}
          {{> "systems/kult4e/templates/partials/disadvantage-card.hbs" disadvantage}}
          {{/each}}
        </div>
        <div class="section-label">{{localize "kult4e.Relationships"}}</div>
        <div class="item-list relationship-list">
          {{#each relationships as |relationship id|}}
          {{> "systems/kult4e/templates/partials/relationship-card.hbs" relationship}}
          {{/each}}
        </div>
      </div>
      <div class="right-middle-column">
        <div class="section-label">{{localize "kult4e.Wounds"}}</div>
        <div class="wound-entries">
          {{#each wounds}}
          <div class="wound-section">
            <label>{{localize "kult4e.MajorWound"}}</label>
            <select class="stabilized" name="data.attributes.woundstabilized.{{this}}"
            value="{{lookup ../data.attributes.woundstabilized this}}">
            {{#select (lookup ../data.attributes.woundstabilized this)}}
              <option value="true">{{localize "kult4e.Stabilized"}}</option>
              <option value="false">{{localize "kult4e.NotStabilized"}}</option>
            {{/select}}
            </select>
          </div>
          <div class="wound-name">
            <input type="text" name="data.attributes.woundtext.{{this}}" value="{{lookup ../data.attributes.woundtext this}}">
          </div>
          {{/each}}
          <div class="wound-section">
            <label>{{localize "kult4e.CriticalWound"}}</label>
            <select class="stabilized" name="data.attributes.criticalwoundstabilized"
              value="{{data.attributes.criticalwoundstabilized}}">
              {{#select data.attributes.criticalwoundstabilized}}
                <option value="true">{{localize "kult4e.Stabilized"}}</option>
                <option value="false">{{localize "kult4e.NotStabilized"}}</option>
              {{/select}}
            </select>
          </div>
          <div class="wound-name">
            <input type="text" name="data.attributes.criticalwound" value="{{data.attributes.criticalwound}}">
          </div>
        </div>
        <div class="flex-column stability-section">
          <div class="section-label">{{localize "kult4e.Stability"}}</div>
          <div>
            <select name="data.stability.value" value="{{data.stability.value}}">{{#select data.stability.value}}
              <option value="0">{{localize "kult4e.StabilityComposed"}}</option>
              <option value="1">{{localize "kult4e.StabilityUneasy"}}</option>
              <option value="2">{{localize "kult4e.StabilityUnfocused"}}</option>
              <option value="3">{{localize "kult4e.StabilityShaken"}}</option>
              <option value="4">{{localize "kult4e.StabilityDistressed"}}</option>
              <option value="5">{{localize "kult4e.StabilityNeurotic"}}</option>
              <option value="6">{{localize "kult4e.StabilityAnxious"}}</option>
              <option value="7">{{localize "kult4e.StabilityIrrational"}}</option>
              <option value="8">{{localize "kult4e.StabilityUnhinged"}}</option>
              <option value="9">{{localize "kult4e.StabilityBroken"}}</option>
              {{/select}}
            </select>
            <a class="stability-minus" title="{{localize "kult4e.MinusStability"}}"><i class="fas fa-minus-circle"></i></a>
            <a class="stability-plus" title="{{localize "kult4e.PlusStability"}}"><i class="fas fa-plus-circle"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-section">
      <div class="move-section">
        <div class="section-label">{{localize "kult4e.Moves"}}</div>
        <div class="item-list move-list">
          {{#each moves as |move id|}}
          {{#if (eq move.type "move")}}
          {{> "systems/kult4e/templates/partials/move-card.hbs" move}}
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="two-column">
      <div class="weapon-section">
        <div class="section-label">{{localize "kult4e.Weapons"}}</div>
        <div class=" item-list weapon-list">
          {{#each weapons as |weapon id|}}
          {{> "systems/kult4e/templates/partials/weapon-card.hbs" weapon}}
          {{/each}}
        </div>
      </div>
      <div class="gear-section">
        <div class="section-label">{{localize "kult4e.Gear"}}</div>
        <div class=" item-list weapon-list">
          {{#each gear as |gear id|}}
          {{> "systems/kult4e/templates/partials/gear-card.hbs" gear}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div id="Background" class="background-section {{actor._id}}-tab">
    <div class="two-column">
      <div "background-box">
        <div class="section-label">{{localize "kult4e.Background"}}</div>
        <div class="free-text">
          {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>
      </div>
      <div>
        <div class="section-label">{{localize "kult4e.Appearance"}}</div>
        <div class="free-text">
          {{editor content=data.appearance target="data.appearance" button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>
</form>